@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #fff;
  font-family: "Inter", sans-serif;
}

/* Style for forms */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
}

label {
  font-size: 18px;
}

#editingForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

#editingForm h1 {
  margin: 1rem;
  text-decoration: underline;
}
/* Custom styling for input */
input {
  padding: 1rem;
  width: 500px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color: #f2f2f2;
}

option {
  padding: 0.5rem 1rem;
}

select,
option {
  width: 500px;
  background-color: #f2f2f2;
  height: 50px;
  font-size: 18px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: #333;
}
 
input:read-only {
  background-color: #ccc;
}

input[type="submit"] {
  background-color: #4caf50;
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin-top: .5rem;
  cursor: pointer;
}

/* Custom styling for title */
h1 {
  text-align: center;
  font-size: 36px;
  color: #fff;
}

h2 {
  color: #fff;
  margin: 1rem 0;
}

h3 {
  color: #fff;
  text-align: center;
  margin: 1rem;
}

p {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  color: #fff;
  width: 100px;
  margin-bottom: 20px;
  object-fit: cover;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  gap: 2rem;
}

main a {
  display: flex;
  background-color: rgb(48, 48, 45);
  width: 400px;
  height: 250px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

header a button {
  background-color: transparent;
  border: 0.2px solid #ccc;
  color: white;
  padding: 2rem;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
}
a {
  color: #fff;
  font-size: 24px;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#indexSection {
  height: 100vh;
}

section a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
}

section a img {
  width: 60px;
  margin: 1rem 0;
}

table {
  width: 100%;
  margin: 2rem 0;
  border-collapse: collapse;
}

#editBody {
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: center;
}

table,
th,
td {
  border: 1px solid white;
}

th,
td {
  padding: 15px;
  text-align: left;
}

.btn {
  padding: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-warning {
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-danger {
  background-color: transparent;
  border: 1px solid #fff;
}